/****************************************************************************************************

  FyreFly UI
  by Eric Powell
  Copyright ©2022

****************************************************************************************************/

/* SCROLL TO TOP */

.scroll-to-top {
  z-index: 1000;
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  padding-top: 7px;
  border-radius: 100%;
  text-align: center;
  font-size: 18px;
  color: transparent;
  background-color: transparent;
  transition: 0.2s;
}

.scroll-to-top.show {
  color: #fff;
  background-color: #303640;
  cursor: pointer;
}
.scroll-to-top.show:hover {
  bottom: 16px;
  color: #fff;
  background-color: #ff2448;
}
.scroll-to-top.hide {
  user-select: none;
  pointer-events: none;
}
