/****************************************************************************************************

  TABLE OF CONTENTS
  |
  |
  |___ Colors: Theme
  |
  |___ Colors: White/Black
  |
  |___ Colors: Foreground/Background
  |
  |___ Text
  |
  |___ Border
  |
  |___ Shadow
  |
  |___ Transition
  |
  |___ Border
  |
  |___ Scale
  |
  |___ Z-Index
  |
  |___ Responsiveness
  |
  |___ Container Max Widths
  |
  |___ Column Max Widths

****************************************************************************************************/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

/* ------------------------ Colors: Theme ------------------------ */

$color-main: #24a0ff;
$color-main-light: #64c8ff;
$color-main-dark: #1660a0;
$color-main-trans-0: #24a0ff00;
$color-main-trans-1: #24a0ff0c;
$color-main-trans-2: #24a0ff18;
$color-main-trans-3: #24a0ff24;
$color-main-trans-4: #24a0ff30;
$color-main-trans-5: #24a0ff40;
$color-main-trans-6: #24a0ff60;
$color-main-trans-7: #24a0ff80;

$color-alt-1: #ff4080;
$color-alt-2: #ffc840;
$color-alt-3: #20dc80;

$color-info: #2080ff;
$color-error: #ff2040;
$color-warning: #ffd420;
$color-success: #40d420;

/* ------------------------ Colors: White/Black ------------------------ */

$color-white: #ffffff;
$color-white-trans-0: #ffffff00;
$color-white-trans-1: #ffffff0c;
$color-white-trans-2: #ffffff18;
$color-white-trans-3: #ffffff24;
$color-white-trans-4: #ffffff30;
$color-white-trans-5: #ffffff40;
$color-white-trans-6: #ffffff60;
$color-white-trans-7: #ffffff80;

$color-black: #080a0e;
$color-black-trans-0: #080a0e00;
$color-black-trans-1: #080a0e0c;
$color-black-trans-2: #080a0e18;
$color-black-trans-3: #080a0e24;
$color-black-trans-4: #080a0e30;
$color-black-trans-5: #080a0e40;
$color-black-trans-6: #080a0e60;
$color-black-trans-7: #080a0e80;

/* ------------------------ Colors: Foreground/Background ------------------------ */

$color-fg-1: #202430;
$color-fg-2: #202430a0;
$color-fg-3: #20243080;
$color-fg-4: #20243040;
$color-bg-1: #fafafa;
$color-bg-2: #f5f5f5;
$color-bg-3: #f0f0f0;
$color-bg-4: #ebebeb;

$color-fgc-1: #ffffff;
$color-fgc-2: #e8eeffa0;
$color-fgc-3: #e8eeff80;
$color-fgc-4: #e8eeff40;
$color-bgc-1: #101216;
$color-bgc-2: #181b20;
$color-bgc-3: #202428;
$color-bgc-4: #282d32;

/* ------------------------ Text ------------------------ */

$line-height: 1;
$line-height-h: 1.25;
$line-height-p: 1.75;
$font-family: "Poppins", sans-serif;
$font-family-alt: "Poppins", sans-serif;
$font-size: 16px;
$font-weight: 300;
$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 28px;
$h5: 24px;
$h6: 20px;

/* ------------------------ Shadow ------------------------ */

$shadow-0: 0 0 0px rgba(0, 0, 0, 0);
$shadow-1: 0 0 12px rgba(0, 0, 0, 0.125);
$shadow-2: 0 0 18px rgba(0, 0, 0, 0.115);
$shadow-3: 0 0 24px rgba(0, 0, 0, 0.11);
$shadow-4: 0 0 32px rgba(0, 0, 0, 0.1);
$shadow-txt: 1px 1px 4px rgba(0, 0, 0, 0.2);

/* ------------------------ Transition ------------------------ */

$trans-0: none;
$trans-1: all 0.15s ease-out;
$trans-2: all 0.3s ease-out;
$trans-3: all 0.5s ease-out;
$trans-4: all 1s ease-out;

/* ------------------------ Border ------------------------ */

$radius-0: 0px;
$radius-1: 6px;
$radius-2: 12px;
$radius-3: 18px;

/* ------------------------ Scale ------------------------ */

$spacing: 4px;

/* ------------------------ Z-Index ------------------------ */

$z-footer: 900;
$z-header: 1000;
$z-dropdown: 1100;
$z-modal: 1500;
$z-modal-dropdown: 1600;
$z-tooltip: 2000;

/* ------------------------ Responsiveness ------------------------ */

$break-xxl: 1601px;
$break-xl-max: 1600px;
$break-xl-min: 1281px;
$break-lg-max: 1280px;
$break-lg-min: 1025px;
$break-md-max: 1024px;
$break-md-min: 769px;
$break-sm-max: 768px;
$break-sm-min: 481px;
$break-xs-max: 480px;
$break-xs-min: 0px;
$layout-xxl: "only screen and (min-width: #{$break-xxl})";
$layout-xl-only: "only screen and (min-width: #{$break-xl-min}) and (max-width: #{$break-xl-max})";
$layout-xl-max: "only screen and (max-width: #{$break-xl-max})";
$layout-xl-min: "only screen and (min-width: #{$break-xl-min})";
$layout-lg-only: "only screen and (min-width: #{$break-lg-min}) and (max-width: #{$break-lg-max})";
$layout-lg-max: "only screen and (max-width: #{$break-lg-max})";
$layout-lg-min: "only screen and (min-width: #{$break-lg-min})";
$layout-md-only: "only screen and (min-width: #{$break-md-min}) and (max-width: #{$break-md-max})";
$layout-md-max: "only screen and (max-width: #{$break-md-max})";
$layout-md-min: "only screen and (min-width: #{$break-md-min})";
$layout-sm-only: "only screen and (min-width: #{$break-sm-min}) and (max-width: #{$break-sm-max})";
$layout-sm-max: "only screen and (max-width: #{$break-sm-max})";
$layout-sm-min: "only screen and (min-width: #{$break-sm-min})";
$layout-xs-only: "only screen and (min-width: #{$break-xs-min}) and (max-width: #{$break-xs-max})";
$layout-xs-max: "only screen and (max-width: #{$break-xs-max})";
$layout-xs-min: "only screen and (min-width: #{$break-xs-min})";

/* ------------------------ Container Max Widths ------------------------ */

$container-xxl: 1400px;
$container-xl: 1200px;
$container-lg: 960px;
$container-md: 680px;
$container-sm: 420px;
$container-xs: 320px;

/* ------------------------ Column Max Widths ------------------------ */

$col-1: 8.333%;
$col-2: 16.666%;
$col-3: 25%;
$col-4: 33.333%;
$col-5: 41.666%;
$col-6: 50%;
$col-7: 58.333%;
$col-8: 66.666%;
$col-9: 75%;
$col-10: 83.333%;
$col-11: 91.666%;
$col-12: 100%;
