/****************************************************************************************************

  TABLE OF CONTENTS
  |
  |
  |___ Grid CSS
  |
  |___ Flexbox CSS

****************************************************************************************************/

/* ------------------------ Grid CSS ------------------------ */

.grid-parent {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 0;
  
  &.rows-1 {
    grid-template-rows: auto;
  }
  &.rows-2 {
    grid-template-rows: auto auto;
  }
  &.rows-3 {
    grid-template-rows: auto auto auto;
  }
  &.rows-4 {
    grid-template-rows: auto auto auto auto;
  }
  &.rows-5 {
    grid-template-rows: auto auto auto auto auto;
  }
  &.rows-6 {
    grid-template-rows: auto auto auto auto auto auto;
  }
  &.rows-7 {
    grid-template-rows: auto auto auto auto auto auto auto;
  }
  &.rows-8 {
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }
  &.rows-9 {
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }
  &.rows-10 {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  }
  &.rows-11 {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
  }
  &.rows-12 {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  }

  &.cols-1 {
    grid-template-columns: auto;
  }
  &.cols-2 {
    grid-template-columns: auto auto;
  }
  &.cols-3 {
    grid-template-columns: auto auto auto;
  }
  &.cols-4 {
    grid-template-columns: auto auto auto auto;
  }
  &.cols-5 {
    grid-template-columns: auto auto auto auto auto;
  }
  &.cols-6 {
    grid-template-columns: auto auto auto auto auto auto;
  }
  &.cols-7 {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  &.cols-8 {
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
  &.cols-9 {
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
  }
  &.cols-10 {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  }
  &.cols-11 {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  }
  &.cols-12 {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  }

  &.spacing-1 {
    grid-gap: $spacing * 1;
  }
  &.spacing-2 {
    grid-gap: $spacing * 2;
  }
  &.spacing-3 {
    grid-gap: $spacing * 3;
  }
  &.spacing-4 {
    grid-gap: $spacing * 4;
  }
  &.spacing-5 {
    grid-gap: $spacing * 5;
  }
  &.spacing-6 {
    grid-gap: $spacing * 6;
  }
  &.spacing-7 {
    grid-gap: $spacing * 7;
  }
  &.spacing-8 {
    grid-gap: $spacing * 8;
  }
  &.spacing-9 {
    grid-gap: $spacing * 9;
  }
  &.spacing-10 {
    grid-gap: $spacing * 10;
  }
  &.spacing-11 {
    grid-gap: $spacing * 11;
  }
  &.spacing-12 {
    grid-gap: $spacing * 12;
  }
}
.grid-child {
  position: relative;
}

/* ------------------------ Flexbox CSS ------------------------ */

.flex-parent {
  position: relative;
  display: flex;
  max-width: 100%;

  // justify-content (default: "flex-start")
  &.justify {
    &-left,
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-right,
    &-end {
      justify-content: flex-end;
    }
    &-between {
      justify-content: space-between;
    }
    &-around {
      justify-content: space-around;
    }
    &-evenly {
      justify-content: space-evenly;
    }
  }

  // align-items (default: "stretch")
  &.align-items {
    &-top,
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-bottom,
    &-end {
      align-items: flex-end;
    }
    &-between {
      align-items: space-between;
    }
    &-around {
      align-items: space-around;
    }
    &-stretch {
      align-items: stretch;
    }
  }

  // align-content (default: "stretch")
  &.align-content {
    &-top,
    &-start {
      align-content: flex-start;
    }
    &-center {
      align-content: center;
    }
    &-bottom,
    &-end {
      align-content: flex-end;
    }
    &-between {
      align-content: space-between;
    }
    &-around {
      align-content: space-around;
    }
    &-stretch {
      align-content: stretch;
    }
  }

  // flex-wrap (default: "nowrap")
  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-child {
  position: relative;
  width: max-content;
  max-width: 100%;

  @media #{$layout-0} {
    &.xs-1 {
      width: 8.333%;
    }
    &.xs-2 {
      width: 16.666%;
    }
    &.xs-3 {
      width: 25%;
    }
    &.xs-4 {
      width: 33.333%;
    }
    &.xs-5 {
      width: 41.666%;
    }
    &.xs-6 {
      width: 50%;
    }
    &.xs-7 {
      width: 58.333%;
    }
    &.xs-8 {
      width: 66.666%;
    }
    &.xs-9 {
      width: 75%;
    }
    &.xs-10 {
      width: 83.333%;
    }
    &.xs-11 {
      width: 91.666%;
    }
    &.xs-12 {
      width: 100%;
    }
  }
  @media #{$layout-xs-up} {
    &.sm-1 {
      width: 8.333%;
    }
    &.sm-2 {
      width: 16.666%;
    }
    &.sm-3 {
      width: 25%;
    }
    &.sm-4 {
      width: 33.333%;
    }
    &.sm-5 {
      width: 41.666%;
    }
    &.sm-6 {
      width: 50%;
    }
    &.sm-7 {
      width: 58.333%;
    }
    &.sm-8 {
      width: 66.666%;
    }
    &.sm-9 {
      width: 75%;
    }
    &.sm-10 {
      width: 83.333%;
    }
    &.sm-11 {
      width: 91.666%;
    }
    &.sm-12 {
      width: 100%;
    }
  }
  @media #{$layout-sm-up} {
    &.md-1 {
      width: 8.333%;
    }
    &.md-2 {
      width: 16.666%;
    }
    &.md-3 {
      width: 25%;
    }
    &.md-4 {
      width: 33.333%;
    }
    &.md-5 {
      width: 41.666%;
    }
    &.md-6 {
      width: 50%;
    }
    &.md-7 {
      width: 58.333%;
    }
    &.md-8 {
      width: 66.666%;
    }
    &.md-9 {
      width: 75%;
    }
    &.md-10 {
      width: 83.333%;
    }
    &.md-11 {
      width: 91.666%;
    }
    &.md-12 {
      width: 100%;
    }
  }
  @media #{$layout-md-up} {
    &.lg-1 {
      width: 8.333%;
    }
    &.lg-2 {
      width: 16.666%;
    }
    &.lg-3 {
      width: 25%;
    }
    &.lg-4 {
      width: 33.333%;
    }
    &.lg-5 {
      width: 41.666%;
    }
    &.lg-6 {
      width: 50%;
    }
    &.lg-7 {
      width: 58.333%;
    }
    &.lg-8 {
      width: 66.666%;
    }
    &.lg-9 {
      width: 75%;
    }
    &.lg-10 {
      width: 83.333%;
    }
    &.lg-11 {
      width: 91.666%;
    }
    &.lg-12 {
      width: 100%;
    }
  }
  @media #{$layout-lg-up} {
    &.xl-1 {
      width: 8.333%;
    }
    &.xl-2 {
      width: 16.666%;
    }
    &.xl-3 {
      width: 25%;
    }
    &.xl-4 {
      width: 33.333%;
    }
    &.xl-5 {
      width: 41.666%;
    }
    &.xl-6 {
      width: 50%;
    }
    &.xl-7 {
      width: 58.333%;
    }
    &.xl-8 {
      width: 66.666%;
    }
    &.xl-9 {
      width: 75%;
    }
    &.xl-10 {
      width: 83.333%;
    }
    &.xl-11 {
      width: 91.666%;
    }
    &.xl-12 {
      width: 100%;
    }
  }
}