/****************************************************************************************************

  TABLE OF CONTENTS
  |
  |
  |___ Grid CSS
  |
  |___ Flexbox CSS

****************************************************************************************************/

/* ------------------------ Grid CSS ------------------------ */

.grid-parent {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, auto);
  grid-gap: 0;
  transition: $trans-1;

  &.rows-1 {
    grid-template-rows: repeat(1, auto);
  }
  &.rows-2 {
    grid-template-rows: repeat(2, auto);
  }
  &.rows-3 {
    grid-template-rows: repeat(3, auto);
  }
  &.rows-4 {
    grid-template-rows: repeat(4, auto);
  }
  &.rows-5 {
    grid-template-rows: repeat(5, auto);
  }
  &.rows-6 {
    grid-template-rows: repeat(6, auto);
  }
  &.rows-7 {
    grid-template-rows: repeat(7, auto);
  }
  &.rows-8 {
    grid-template-rows: repeat(8, auto);
  }
  &.rows-9 {
    grid-template-rows: repeat(9, auto);
  }
  &.rows-10 {
    grid-template-rows: repeat(10, auto);
  }
  &.rows-11 {
    grid-template-rows: repeat(11, auto);
  }
  &.rows-12 {
    grid-template-rows: repeat(12, auto);
  }

  &.cols-1 {
    grid-template-columns: repeat(1, auto);
  }
  &.cols-2 {
    grid-template-columns: repeat(2, auto);
  }
  &.cols-3 {
    grid-template-columns: repeat(3, auto);
  }
  &.cols-4 {
    grid-template-columns: repeat(4, auto);
  }
  &.cols-5 {
    grid-template-columns: repeat(5, auto);
  }
  &.cols-6 {
    grid-template-columns: repeat(6, auto);
  }
  &.cols-7 {
    grid-template-columns: repeat(7, auto);
  }
  &.cols-8 {
    grid-template-columns: repeat(8, auto);
  }
  &.cols-9 {
    grid-template-columns: repeat(9, auto);
  }
  &.cols-10 {
    grid-template-columns: repeat(10, auto);
  }
  &.cols-11 {
    grid-template-columns: repeat(11, auto);
  }
  &.cols-12 {
    grid-template-columns: repeat(12, auto);
  }

  &.spacing-1 {
    grid-gap: $spacing * 1;
  }
  &.spacing-2 {
    grid-gap: $spacing * 2;
  }
  &.spacing-3 {
    grid-gap: $spacing * 3;
  }
  &.spacing-4 {
    grid-gap: $spacing * 4;
  }
  &.spacing-5 {
    grid-gap: $spacing * 5;
  }
  &.spacing-6 {
    grid-gap: $spacing * 6;
  }
  &.spacing-7 {
    grid-gap: $spacing * 7;
  }
  &.spacing-8 {
    grid-gap: $spacing * 8;
  }
  &.spacing-9 {
    grid-gap: $spacing * 9;
  }
  &.spacing-10 {
    grid-gap: $spacing * 10;
  }
  &.spacing-11 {
    grid-gap: $spacing * 11;
  }
  &.spacing-12 {
    grid-gap: $spacing * 12;
  }
}
.grid-child {
  position: relative;
  transition: $trans-1;
}

/* ------------------------ Flexbox CSS ------------------------ */

.flex-parent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  transition: $trans-1;

  // justify-content (default: "flex-start")
  &.justify {
    &-left,
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-right,
    &-end {
      justify-content: flex-end;
    }
    &-between {
      justify-content: space-between;
    }
    &-around {
      justify-content: space-around;
    }
    &-evenly {
      justify-content: space-evenly;
    }
  }

  // align-items (default: "stretch")
  &.align-items {
    &-top,
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-bottom,
    &-end {
      align-items: flex-end;
    }
    &-between {
      align-items: space-between;
    }
    &-around {
      align-items: space-around;
    }
    &-stretch {
      align-items: stretch;
    }
  }

  // align-content (default: "stretch")
  &.align-content {
    &-top,
    &-start {
      align-content: flex-start;
    }
    &-center {
      align-content: center;
    }
    &-bottom,
    &-end {
      align-content: flex-end;
    }
    &-between {
      align-content: space-between;
    }
    &-around {
      align-content: space-around;
    }
    &-stretch {
      align-content: stretch;
    }
  }

  // flex-wrap (default: "nowrap")
  &.nowrap {
    flex-wrap: nowrap;
  }

  // spacing (default: "padding 0")
  &.spacing-1 {
    gap: $spacing * 1;
  }
  &.spacing-2 {
    gap: $spacing * 2;
  }
  &.spacing-3 {
    gap: $spacing * 3;
  }
  &.spacing-4 {
    gap: $spacing * 4;
  }
  &.spacing-5 {
    gap: $spacing * 5;
  }
  &.spacing-6 {
    gap: $spacing * 6;
  }
  &.spacing-7 {
    gap: $spacing * 7;
  }
  &.spacing-8 {
    gap: $spacing * 8;
  }
  &.spacing-9 {
    gap: $spacing * 9;
  }
  &.spacing-10 {
    gap: $spacing * 10;
  }
  &.spacing-11 {
    gap: $spacing * 11;
  }
  &.spacing-12 {
    gap: $spacing * 12;
  }
}

.flex-child {
  position: relative;
  transition: $trans-1;

  @media #{$layout-0} {
    &.xs-1 {
      flex-grow: 1;
      flex-basis: $percent-1;
      max-width: $percent-1;
    }
    &.xs-2 {
      flex-grow: 2;
      flex-basis: $percent-2;
      max-width: $percent-2;
    }
    &.xs-3 {
      flex-grow: 3;
      flex-basis: $percent-3;
      max-width: $percent-3;
    }
    &.xs-4 {
      flex-grow: 4;
      flex-basis: $percent-4;
      max-width: $percent-4;
    }
    &.xs-5 {
      flex-grow: 5;
      flex-basis: $percent-5;
      max-width: $percent-5;
    }
    &.xs-6 {
      flex-grow: 6;
      flex-shrink: 6;
      flex-basis: $percent-6;
      max-width: $percent-6;
    }
    &.xs-7 {
      flex-grow: 7;
      flex-basis: $percent-7;
      max-width: $percent-7;
    }
    &.xs-8 {
      flex-grow: 8;
      flex-basis: $percent-8;
      max-width: $percent-8;
    }
    &.xs-9 {
      flex-grow: 9;
      flex-basis: $percent-9;
      max-width: $percent-9;
    }
    &.xs-10 {
      flex-grow: 10;
      flex-basis: $percent-10;
      max-width: $percent-10;
    }
    &.xs-11 {
      flex-grow: 11;
      flex-basis: $percent-11;
      max-width: $percent-11;
    }
    &.xs-12 {
      flex-grow: 12;
      flex-basis: $percent-12;
      max-width: $percent-12;
    }
    &.xs-true {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
  }
  @media #{$layout-xs-up} {
    &.sm-1 {
      flex-grow: 0;
      flex-basis: $percent-1;
      max-width: $percent-1;
    }
    &.sm-2 {
      flex-grow: 0;
      flex-basis: $percent-2;
      max-width: $percent-2;
    }
    &.sm-3 {
      flex-grow: 0;
      flex-basis: $percent-3;
      max-width: $percent-3;
    }
    &.sm-4 {
      flex-grow: 0;
      flex-basis: $percent-4;
      max-width: $percent-4;
    }
    &.sm-5 {
      flex-grow: 0;
      flex-basis: $percent-5;
      max-width: $percent-5;
    }
    &.sm-6 {
      flex-grow: 0;
      flex-basis: $percent-6;
      max-width: $percent-6;
    }
    &.sm-7 {
      flex-grow: 0;
      flex-basis: $percent-7;
      max-width: $percent-7;
    }
    &.sm-8 {
      flex-grow: 0;
      flex-basis: $percent-8;
      max-width: $percent-8;
    }
    &.sm-9 {
      flex-grow: 0;
      flex-basis: $percent-9;
      max-width: $percent-9;
    }
    &.sm-10 {
      flex-grow: 0;
      flex-basis: $percent-10;
      max-width: $percent-10;
    }
    &.sm-11 {
      flex-grow: 0;
      flex-basis: $percent-11;
      max-width: $percent-11;
    }
    &.sm-12 {
      flex-grow: 0;
      flex-basis: $percent-12;
      max-width: $percent-12;
    }
    &.sm-true {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
  }
  @media #{$layout-sm-up} {
    &.md-1 {
      flex-grow: 0;
      flex-basis: $percent-1;
      max-width: $percent-1;
    }
    &.md-2 {
      flex-grow: 0;
      flex-basis: $percent-2;
      max-width: $percent-2;
    }
    &.md-3 {
      flex-grow: 0;
      flex-basis: $percent-3;
      max-width: $percent-3;
    }
    &.md-4 {
      flex-grow: 0;
      flex-basis: $percent-4;
      max-width: $percent-4;
    }
    &.md-5 {
      flex-grow: 0;
      flex-basis: $percent-5;
      max-width: $percent-5;
    }
    &.md-6 {
      flex-grow: 0;
      flex-basis: $percent-6;
      max-width: $percent-6;
    }
    &.md-7 {
      flex-grow: 0;
      flex-basis: $percent-7;
      max-width: $percent-7;
    }
    &.md-8 {
      flex-grow: 0;
      flex-basis: $percent-8;
      max-width: $percent-8;
    }
    &.md-9 {
      flex-grow: 0;
      flex-basis: $percent-9;
      max-width: $percent-9;
    }
    &.md-10 {
      flex-grow: 0;
      flex-basis: $percent-10;
      max-width: $percent-10;
    }
    &.md-11 {
      flex-grow: 0;
      flex-basis: $percent-11;
      max-width: $percent-11;
    }
    &.md-12 {
      flex-grow: 0;
      flex-basis: $percent-12;
      max-width: $percent-12;
    }
    &.md-true {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
  }
  @media #{$layout-md-up} {
    &.lg-1 {
      flex-grow: 0;
      flex-basis: $percent-1;
      max-width: $percent-1;
    }
    &.lg-2 {
      flex-grow: 0;
      flex-basis: $percent-2;
      max-width: $percent-2;
    }
    &.lg-3 {
      flex-grow: 0;
      flex-basis: $percent-3;
      max-width: $percent-3;
    }
    &.lg-4 {
      flex-grow: 0;
      flex-basis: $percent-4;
      max-width: $percent-4;
    }
    &.lg-5 {
      flex-grow: 0;
      flex-basis: $percent-5;
      max-width: $percent-5;
    }
    &.lg-6 {
      flex-grow: 0;
      flex-basis: $percent-6;
      max-width: $percent-6;
    }
    &.lg-7 {
      flex-grow: 0;
      flex-basis: $percent-7;
      max-width: $percent-7;
    }
    &.lg-8 {
      flex-grow: 0;
      flex-basis: $percent-8;
      max-width: $percent-8;
    }
    &.lg-9 {
      flex-grow: 0;
      flex-basis: $percent-9;
      max-width: $percent-9;
    }
    &.lg-10 {
      flex-grow: 0;
      flex-basis: $percent-10;
      max-width: $percent-10;
    }
    &.lg-11 {
      flex-grow: 0;
      flex-basis: $percent-11;
      max-width: $percent-11;
    }
    &.lg-12 {
      flex-grow: 0;
      flex-basis: $percent-12;
      max-width: $percent-12;
    }
    &.lg-true {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
  }
  @media #{$layout-lg-up} {
    &.xl-1 {
      flex-grow: 0;
      flex-basis: $percent-1;
      max-width: $percent-1;
    }
    &.xl-2 {
      flex-grow: 0;
      flex-basis: $percent-2;
      max-width: $percent-2;
    }
    &.xl-3 {
      flex-grow: 0;
      flex-basis: $percent-3;
      max-width: $percent-3;
    }
    &.xl-4 {
      flex-grow: 0;
      flex-basis: $percent-4;
      max-width: $percent-4;
    }
    &.xl-5 {
      flex-grow: 0;
      flex-basis: $percent-5;
      max-width: $percent-5;
    }
    &.xl-6 {
      flex-grow: 0;
      flex-basis: $percent-6;
      max-width: $percent-6;
    }
    &.xl-7 {
      flex-grow: 0;
      flex-basis: $percent-7;
      max-width: $percent-7;
    }
    &.xl-8 {
      flex-grow: 0;
      flex-basis: $percent-8;
      max-width: $percent-8;
    }
    &.xl-9 {
      flex-grow: 0;
      flex-basis: $percent-9;
      max-width: $percent-9;
    }
    &.xl-10 {
      flex-grow: 0;
      flex-basis: $percent-10;
      max-width: $percent-10;
    }
    &.xl-11 {
      flex-grow: 0;
      flex-basis: $percent-11;
      max-width: $percent-11;
    }
    &.xl-12 {
      flex-grow: 0;
      flex-basis: $percent-12;
      max-width: $percent-12;
    }
    &.xl-true {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }
  }
}
